@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  margin: 0;
  min-width: 320px;
  font-size: 18px;
  font-family: "Gilroy", sans-serif, Arial;
  font-weight: 400;
}

.overflow {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: #111;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0;
  padding: 0;
}

h3, h2 {
  font-size: 36px;
  line-height: 49px;
  font-weight: 500;
  color: #30394a;
  margin: 0 0 30px;
}

.container {
  max-width: 1042px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.--Container {
  max-width: 1300px;
}

.wrapper {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  height: 51px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif, Arial;
  background-color: #466660;
  border-radius: 22px;
  text-align: center;
  padding: 0 27px;
  color: #FFF0DE;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #3C4146;
}

.--hover__btn:hover {
  background-color: #1ed013;
}

input[type=search],
input[type=text] {
  display: block;
  width: 100%;
  height: 39px;
  padding: 10px 22px;
  border: none;
  border: 1px solid #000;
  border-radius: 50px;
  background: none;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 500;
  color: #3C4146;
  transition: all 0.2s;
}
@media (max-width: 490px) {
  input[type=search],
input[type=text] {
    font-size: 12px;
  }
}
@media (max-width: 1024px) {
  input[type=search],
input[type=text] {
    font-size: 14px;
  }
}
input[type=search]::placeholder,
input[type=text]::placeholder {
  color: #3C4146;
  font-weight: 500;
}
input[type=search]:focus,
input[type=text]:focus {
  box-shadow: 0 0 3px 1px #68a8e0;
}

input[type=text] {
  border: 1px solid #fff;
  color: #fff;
}
input[type=text]::placeholder {
  color: #fff;
  font-weight: 500;
}

input[type=file] {
  display: block;
  width: 100%;
  height: 50px;
  padding: 12px 24px;
  border: 2px dashed #cccc;
  background: none;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #fff;
  transition: all 0.2s;
}
input[type=file]::placeholder {
  color: #FFFFFF;
}
input[type=file]:focus {
  border-color: #282b31;
}

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

textarea {
  display: block;
  width: 100%;
  height: 210px;
  resize: none;
  padding: 12px 0;
  border: none;
  border-bottom: 2px solid #cccc;
  background: none;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  color: #000;
  transition: all 0.2s;
}
@media (max-width: 490px) {
  textarea {
    font-size: 12px;
  }
}
textarea::placeholder {
  color: #000;
}
textarea:focus {
  border-color: #282b31;
}

select {
  display: block;
  width: 100%;
  height: 50px;
  padding: 12px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  background: none;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  color: #000;
  transition: all 0.2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
@media (max-width: 490px) {
  select {
    font-size: 12px;
  }
}

.header {
  position: absolute;
  width: 100%;
  z-index: 5;
}
.header.active {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
}
.header__wrap {
  height: 80px;
  display: flex;
  align-items: center;
  padding-right: 180px;
}
.header__wrap-nav {
  width: 100%;
}
@media (max-width: 1024px) {
  .header__wrap-nav {
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 20;
    overflow: auto;
    padding: 100px 0;
    background-color: #fff;
    transition: all 0.3s;
  }
}
.header__wrap-nav.active {
  top: 0;
}
.header__burger-position {
  display: none;
}
@media (max-width: 1024px) {
  .header__burger-position {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
  }
}
.header__btn-menu {
  top: 10px;
  left: 0;
  display: table;
  margin: 0 auto;
  position: absolute;
  width: 16px;
  height: 12px;
  z-index: 30;
}
.header__btn-menu.active span:nth-child(1) {
  top: 1px;
  transform: rotate(-45deg);
  background-color: #000;
}
.header__btn-menu.active span:nth-child(2) {
  opacity: 0;
}
.header__btn-menu.active span:nth-child(3) {
  top: 1px;
  transform: rotate(45deg);
  background-color: #000;
}
.header__btn-menu span {
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  z-index: 15;
  background-color: #000;
}
.header__btn-menu span:nth-child(2) {
  top: 5px;
}
.header__btn-menu span:nth-child(3) {
  top: 10px;
}
@media (max-width: 1024px) {
  .header__nav {
    height: 100%;
  }
}
.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 1024px) {
  .header__nav-list {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .header__logo {
    display: none;
  }
}
.header__logo img {
  max-width: 100%;
  max-height: 100%;
}
.header__nav-item {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  position: relative;
  z-index: 5;
}
.header__nav-item:hover .header__submenu {
  opacity: 1;
  overflow: visible;
  display: block;
}
.header__nav-item:last-child::before {
  content: "";
  position: absolute;
  top: 4px;
  right: -15px;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #3C474C;
  border-left: 2px solid #3C474C;
  transform: rotate(-45deg);
  transition: all 0.3s;
  cursor: pointer;
}
.header__nav-item:hover:last-child::before {
  transform: rotate(-230deg);
  top: 7px;
}
@media (max-width: 1024px) {
  .header__nav-item {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 500;
  }
}
.header__submenu {
  padding: 34px 12px 12px 12px;
  position: absolute;
  top: -10px;
  left: -12px;
  right: 0;
  overflow: hidden;
  opacity: 0;
  display: none;
  z-index: -1;
  background: #FFFFFF;
  box-shadow: 0px 3px 10px rgba(183, 183, 183, 0.25);
  border-radius: 8px;
  width: 200px;
  transition: all 0.3s;
}
.header__submenu li {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #30394A;
  margin-bottom: 8px;
}
.header__language {
  position: absolute;
  top: 31px;
  right: 0;
  font-weight: 500;
}
.header__language ul {
  border-radius: 5px;
  padding: 0 5px;
  transition: all 0.2s;
}
.header__language ul:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.header__language ul:hover a {
  opacity: 1;
  overflow: visible;
}
.header__language ul:hover li:last-child::after {
  opacity: 1;
}
.header__language li {
  font-size: 16px;
  cursor: pointer;
}
.header__language-items {
  position: relative;
  padding: 0 30px;
  padding-bottom: 20px;
}
.header__language-items:first-child::before {
  content: "";
  position: absolute;
  top: 4px;
  right: 8px;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #3C474C;
  border-left: 2px solid #3C474C;
  transform: rotate(-45deg);
  transition: all 0.3s;
  cursor: pointer;
}
.header__language-items:hover:first-child::before {
  transform: rotate(-230deg);
  top: 7px;
}
.header__language-items:last-child::after {
  content: "";
  display: block;
  position: absolute;
  left: 34px;
  top: -9px;
  right: 0;
  opacity: 0;
  width: 20px;
  height: 1px;
  background-color: #30394a;
}
.header__language-items a {
  opacity: 0;
  overflow: hidden;
}
.header__language-items .open-lang {
  opacity: 1;
  overflow: visible;
}

.hero {
  padding-top: 100px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.hero__wrap {
  display: flex;
  flex-direction: column;
}
.hero__justDownload-wrap {
  display: flex;
}
.hero__img {
  width: 50%;
}
.hero__img img {
  width: calc(100% + 65px);
  margin-left: -65px;
}
.hero__justDownload-wrap {
  margin-bottom: 60px;
}
.hero__text {
  width: 50%;
  padding: 0 35px;
}
.hero__title {
  text-align: center;
}
.hero__title span {
  color: #db6088;
}
.hero__info {
  margin-bottom: 40px;
}
.hero__info p {
  text-align: justify;
  font-size: 16px;
  color: #30394a;
  margin-bottom: 20px;
}
.hero__info p:last-child {
  margin-bottom: 0;
}
.hero__qrcode {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.hero__qrcode::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 270px;
  border-top: 5px dotted #f8785e;
}
.hero__qrcode p {
  text-align: center;
  font-size: 16px;
  font-family: "Roboto";
  color: #30394a;
  line-height: 18px;
  margin-bottom: 20px;
}
.hero__image-qrcode {
  display: flex;
  justify-content: space-between;
}
.hero__item-qrcode {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.hero__item-qrcode img {
  max-width: 100%;
  max-height: 100%;
}
.hero__item-qrcode p {
  margin-bottom: 0;
}
.hero__item-qrcode p img {
  width: 100px;
  height: 100px;
}
.hero__item-qrcode a img {
  width: 150px;
}

.creditLimit {
  padding-top: 67px;
}
.creditLimit__wrap {
  padding-top: 120px;
  border-top: 1px solid #F98972;
  display: flex;
  align-items: center;
}
.creditLimit__img {
  width: 50%;
}
.creditLimit__img img {
  width: 100%;
}
.creditLimit__text-block {
  padding-top: 30px;
  position: relative;
  width: 50%;
  line-height: 24px;
}
.creditLimit__text-block::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 422px;
  border-top: 5px dotted #f8785e;
}
.creditLimit__caption h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  color: #30394A;
}
.cashback__wrap {
  display: flex;
  align-items: center;
}
.cashback__text-block {
  position: relative;
  width: 50%;
  padding-top: 30px;
}
.cashback__text-block span {
  display: block;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  margin-bottom: 24px;
}
.cashback__text-block::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 422px;
  border-top: 5px dotted #f8785e;
}
.cashback__img {
  width: 50%;
}
.cashback__img img {
  width: 100%;
}

.freecard__wrap {
  display: flex;
  align-items: center;
}
.freecard__img {
  width: 50%;
}
.freecard__img img {
  width: 100%;
}
.freecard__text-block {
  position: relative;
  width: 50%;
  padding-top: 30px;
}
.freecard__text-block::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 422px;
  border-top: 5px dotted #f8785e;
}
.digitalbank {
  padding: 75px 0;
  background: #FFE9F4;
}
.digitalbank__caption {
  text-align: center;
  margin-bottom: 68px;
}
.digitalbank__item-wrapp {
  display: flex;
  margin: 0 -25px;
}
.digitalbank__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 25px;
}
.digitalbank__item p {
  margin-bottom: 20px;
  line-height: 22, 28px;
  font-weight: 700;
  color: #30394A;
}

.why-digitalbank h3 {
  margin-bottom: 80px;
  text-align: center;
}
.why-digitalbank__wrap {
  display: flex;
  margin: 0 -15px;
  counter-reset: item;
}
.why-digitalbank__item {
  width: 33.3333%;
  padding: 0 15px;
  position: relative;
}
.why-digitalbank__item::before {
  content: counters(item, ".");
  counter-increment: item;
  display: block;
  position: absolute;
  top: 50%;
  left: -20px;
  font-size: 130px;
  line-height: 1;
  font-weight: 800;
  transform: translateY(-50%);
  z-index: -1;
}
.why-digitalbank__item:nth-child(1)::before {
  color: rgba(255, 199, 0, 0.15);
}
.why-digitalbank__item:nth-child(2)::before {
  color: rgba(246, 136, 47, 0.1);
}
.why-digitalbank__item:nth-child(3)::before {
  color: rgba(204, 45, 120, 0.1);
}
.why-digitalbank__title {
  font-weight: 800;
}
.table {
  padding-top: 70px;
  padding-bottom: 114px;
}
.table__caption {
  text-align: center;
}
.table__caption h3 {
  margin-bottom: 63px;
}
.table__table-wrap {
  margin-bottom: 24px;
  position: relative;
}
.table__table-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 232px;
  height: 100%;
  z-index: -1;
  border-radius: 40px;
  border: 2px solid #E976AC;
  background: rgba(233, 118, 172, 0.9);
  box-shadow: 0px 4px 8px rgba(112, 112, 112, 0.15);
}
.table__table-wrap table {
  text-align: left;
}
.table__table-wrap table p {
  margin-top: 10px;
}
.table__table-wrap tr {
  height: 82px;
  vertical-align: middle;
}
.table__table-wrap th {
  border-bottom: 1px solid #F3F3F3;
  width: 20%;
  vertical-align: middle;
  height: 70px;
  font-weight: 700;
  font-size: 16px;
}
.table__table-wrap th:last-child {
  border: none;
}
.table__table-wrap th:nth-child(3), .table__table-wrap th:nth-child(4), .table__table-wrap th:nth-child(5) {
  text-align: center;
}
.table__table-wrap th:last-child:before {
  content: "";
  display: block;
  width: 230px;
  height: 34px;
  background-image: url(../img/svg/Logo_svg.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.table__table-wrap td {
  border-bottom: 1px solid #F3F3F3;
  width: 20%;
  vertical-align: middle;
}
.table__table-wrap td:nth-child(2) {
  font-size: 16px;
}
.table__table-wrap td:nth-child(3), .table__table-wrap td:nth-child(4), .table__table-wrap td:nth-child(5) {
  text-align: center;
  color: #fff;
  color: #30394A;
  font-size: 16px;
}
.table__table-wrap td:last-child {
  border: none;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.table__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 32px;
  height: 32px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/svg/bank1.svg);
}
.table .--icon {
  background-image: url(../img/svg/bank2.svg);
}
.table .--icon_1 {
  background-image: url(../img/svg/bank3.svg);
}
.table__clarification span {
  display: block;
  font-size: 8px;
  font-weight: 400;
  line-height: 10px;
  margin-bottom: 8px;
}
.table__pdf a {
  font-size: 18px;
  color: #CC2D78;
  font-weight: 500;
}

.advantages {
  padding-bottom: 53px;
}
.advantages__caption {
  text-align: center;
  margin-bottom: 70px;
}
.advantages__item {
  display: flex;
  align-items: center;
  max-width: 590px;
  margin: 0 auto 50px;
}
.advantages__icon {
  margin-right: 70px;
  width: 120px;
  height: 120px;
  flex: 0 0 120px;
}
.advantages__icon img {
  width: 100%;
  height: 100%;
}
.advantages__text span {
  font-weight: 800;
  line-height: 22px;
}

.howtoinstall {
  padding-bottom: 89px;
}
.howtoinstall__caption {
  text-align: center;
  margin-bottom: 85px;
}
.howtoinstall__item-wrap {
  display: flex;
  margin: 0 -23px;
}
.howtoinstall__item {
  width: 25%;
  text-align: center;
  padding: 0 23px;
}
.howtoinstall__icon {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.howtoinstall__icon img {
  width: 100%;
  height: 100%;
}
.howtoinstall__descr {
  font-size: 16px;
}

.qrcode {
  padding-bottom: 120px;
}
.qrcode__wrap {
  padding: 15px 0;
  border-top: 1px solid #F98972;
  border-bottom: 1px solid #F98972;
  display: flex;
  align-items: center;
  justify-content: center;
}
.qrcode__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.3333%;
}
.qrcode__item p {
  font-size: 16px;
  font-family: "Roboto";
  text-align: center;
  line-height: 19px;
}
.qrcode__image {
  text-align: center;
}
.qrcode__image p {
  width: 100px;
  display: inline-flex;
}
.qrcode__image a {
  width: 147px;
  display: block;
}
.qrcode__image img {
  width: 100%;
  height: 100%;
}

.footer {
  padding: 45px 0;
  background: #141414;
}
.footer__brand {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.footer__brand span {
  position: relative;
  padding: 0 20px;
  font-family: "Roboto";
  font-size: 22px;
  color: #fff;
}
.footer__brand span::after, .footer__brand span::before {
  content: "";
  position: absolute;
  top: 0;
  width: 2px;
  height: 30px;
  background-color: #fff;
}
.footer__brand span::before {
  left: 10px;
}
.footer__brand span::after {
  right: 10px;
}
.footer__wrap-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer__item {
  width: 25%;
}
.footer__item-title {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 24px;
  line-height: 33px;
  display: block;
}
.footer__menu-list a {
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  margin-bottom: 16px;
  display: inline-block;
}
.footer__menu-list a:hover {
  text-decoration: underline;
}
.footer__phone {
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  margin-bottom: 24px;
  display: block;
}
.footer__phone:hover {
  text-decoration: underline;
}
.footer__social {
  display: flex;
  margin-bottom: 24px;
}
.footer__social-link {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
}
.footer__license {
  margin-bottom: 24px;
}
.footer__license span {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #fff;
  display: block;
  margin-bottom: 16px;
}
.footer__license span:last-child {
  margin-bottom: 0;
}
.footer__fond {
  display: flex;
  align-items: center;
}
.footer__fond p {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #fff;
}
.footer__fond span {
  color: #E86FA8;
}
.footer__img-fgvfo {
  max-width: 40px;
  max-height: 40px;
  margin-right: 12px;
}
.footer__img-fgvfo img {
  max-width: 100%;
  max-height: 100%;
}