@import "mixins.scss";

.cashback {

    &__wrap {
        display: flex;
        align-items: center;
    }

    &__text-block {
        position: relative;
        width: 50%;
        padding-top: 30px;

        span {
            display: block;
            font-size: 18px;
            line-height: 22px;
            font-weight: 600;
            margin-bottom: 24px;
        }
        
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 422px;
            border-top: 5px dotted #f8785e;
          }
    }

    &__caption {

    }

    &__descr {
    }

    &__img {
        width: 50%;
        img {
            width: 100%;
        }
    }
}
