.cashback {

    &__wrap {
        display: flex;
        align-items: center;
    }

    &__text-block {
        position: relative;
        width: 50%;
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 422px;
            border-top: 5px dotted #f8785e;
          }
    }

    &__caption {
    }

    &__descr {
    }

    &__img {
        width: 50%;
    }
}
