.creditLimit {
    padding-top: 67px;
    &__wrap {
        border-top: 1px solid #F98972;
        display: flex;
        align-items: center;
    }

    &__img {
        width: 50%;
        img {
            max-width: 600px;
        }
    }

    &__text-block {
        width: 50%;
    }

    &__caption {
    }

    &__descr {
    }
}
