@import "mixins.scss";

.creditLimit {
    padding-top: 67px;
    &__wrap {
        padding-top: 120px;
        border-top: 1px solid #F98972;
        display: flex;
        align-items: center;
        @include b(mobile) {
            flex-direction: column;
        }
    }

    &__img {
        width: 50%;
        @include b(mobile) {
            width: 100%;
        }
        img {
            width: 100%;
        }
    }

    &__text-block {
        padding-top: 30px;
        position: relative;
        width: 50%;
        line-height: 24px;
        @include b(mobile) {
            width: 100%;
        }
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 422px;
            border-top: 5px dotted #f8785e;
          }
    }

    &__caption {
        @include b(mobile) {
            order: 1;
        }
        h3 {
            font-size: 32px;
            font-weight: 700;
            line-height: 38px;
            color: #30394A;
        }
    }

    &__descr {
    }
}
