@import "mixins.scss";

.footer {
    padding: 45px 0;
    background: #141414; 
    &__wrap {
    }

    &__brand {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        span {
            position: relative;
            padding: 0 20px;
            font-family: 'Roboto';
            font-size: 22px;
            color: #fff;
            &::after,
            &::before{ 
                content: '';
                position: absolute;
                top: 0;
                width: 2px;
                height: 30px;
                background-color: #fff;
            }

            &::before {
                left: 10px;
            }
            &::after {
                right: 10px;
            }
        }
    }

    &__wrap-item {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__item {
        width: 25%;
    }

    &__item-title {
        font-size: 28px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 24px;
        line-height: 33px;
        display: block;
    }

    &__menu-list {
        a {
            font-weight: 500;
            color: #fff;
            font-size: 16px;
            margin-bottom: 16px;
            display: inline-block;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__phone {
        font-weight: 500;
        color: #fff;
        font-size: 16px;
        margin-bottom: 24px;
        display: block;
        &:hover {
            text-decoration: underline;
        }
    }

    

    &__social {
        display: flex;
        margin-bottom: 24px;
    }

    &__social-link {
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
    }

    

    &__license {
        margin-bottom: 24px;
        span {
            font-size: 16px;
            line-height: 19px;
            font-weight: 500;
            color: #fff;
            display: block;
            margin-bottom: 16px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__fond {
        display: flex;
        align-items: center;
        p {
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            color: #fff;
        }
        span {
            color:  #E86FA8;
        }
    }

    &__img-fgvfo {
        max-width: 40px;
        max-height: 40px;
        margin-right: 12px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }



}

