@import "mixins.scss";


.header {
    position: absolute;
    width: 100%;
    z-index: 5;
    &.active {
        position: fixed;
        background-color: rgba(255,255,255,0.9);
    }
    &__wrap {
        height: 80px;
        display: flex;
        align-items: center;
        padding-right: 180px;
    }

    &__wrap-nav {
        width: 100%;
        @include b(tablet) {
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            position: fixed;
            z-index: 20;
            overflow: auto;
            padding: 100px 0;
            background-color: #fff;
            @include trs;
        }
        &.active {
            top: 0;
        }
    }

    &__burger-position {
        display: none;
        @include b(tablet) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            position: relative;
        }
    }

    &__btn-menu {
        top: 10px;
        left: 0;
        display: table;
        margin: 0 auto;
        position: absolute;
        width: 16px;
        height: 12px;
        z-index: 30;
       
        &.active {
            span {
                &:nth-child(1){
                    top: 1px;
                    transform: rotate(-45deg);
                    background-color: #000;
                }
                        
                &:nth-child(2) {
                    opacity: 0;
                }
            
                &:nth-child(3) {
                    top: 1px;
                    transform: rotate(45deg);
                    background-color: #000;
                }

            } 
        }

        span {
            @include trs;
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 2px;
            z-index: 15;
            background-color: #000;
            &:nth-child(2) {
                top: 5px;
            }
            &:nth-child(3) {
                top: 10px;
            }

        }

    }

    &__nav {
        @include b(tablet) {
            height: 100%;
        }
        
    }

    &__nav-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        @include b(tablet) {
            flex-direction: column;
            justify-content: center;
            width: 100%;
         }
    }

    &__logo {
        @include b(tablet) {
            display: none;
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }
        
    }

    &__nav-item {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        position: relative;
        z-index: 5;
        &:hover {
            .header__submenu {
                opacity: 1;
                overflow: visible;
                display: block;
            }
        }

        &:last-child::before {
            content: '';
            position: absolute;
            top: 4px;
            right: -15px;
            width: 8px;
            height: 8px;
            border-bottom: 2px solid #3C474C;
            border-left: 2px solid #3C474C;
            transform: rotate(-45deg);
            transition: all .3s;
            cursor: pointer;
        }
        &:hover:last-child::before {
            transform: rotate(-230deg);
            top: 7px;
        }
        @include b(tablet){
            margin-bottom: 20px;
            font-size: 22px;
            font-weight: 500;
        }


    }

    &__submenu {
        padding: 34px 12px 12px 12px;
        position: absolute;
        top: -10px;
        left: -12px;
        right: 0;
        overflow: hidden;
        opacity: 0;
        display: none;
        z-index: -1;
        background: #FFFFFF;
        box-shadow: 0px 3px 10px rgba(183, 183, 183, 0.25);
        border-radius: 8px;
        width: 200px;
        transition: all 0.3s;
        li {
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
            color: #30394A;
            margin-bottom: 8px;
        }
    }

    

    &__language {
        position: absolute;
        top: 31px;
        right: 0;
        font-weight: 500;
        
        ul {
            border-radius: 5px;
            padding: 0 5px;
            transition: all 0.2s;
          &:hover {
            a {
                opacity: 1;
                overflow: visible;
            }

            li {
                &:last-child::after {
                    opacity: 1;
                }
            }
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
            background-color: #fff;
          } 
        }
        li {
            font-size: 16px;
            cursor: pointer;
        }
        
    }
    
    &__language-items {
        position: relative;
        padding: 0 30px;
        padding-bottom: 20px;
        &:first-child::before {
            content: '';
            position: absolute;
            top: 4px;
            right: 8px;
            width: 8px;
            height: 8px;
            border-bottom: 2px solid #3C474C;
            border-left: 2px solid #3C474C;
            transform: rotate(-45deg);
            transition: all .3s;
            cursor: pointer;
        }
        &:hover:first-child::before {
            transform: rotate(-230deg);
            top: 7px;
        }
        &:last-child::after {
            content: '';
            display: block;
            position: absolute;
            left: 34px;
            top: -9px;
            right: 0;
            opacity: 0;
            width: 20px;
            height: 1px;
            background-color: #30394a;
        }
        a {
            opacity: 0;
            overflow: hidden;
            
        }
        .open-lang {
            opacity: 1;
            overflow: visible;
        }
    }
    
}
