@import "mixins.scss";

.why-digitalbank {
    
    h3 {
      margin-bottom: 80px;
      text-align: center;
      @include b(mobile) {
        margin-bottom: 46px;
      }
    }
  

  &__wrap {
    display: flex;
    margin: 0 -15px;
    counter-reset: item;
    @include b(mobile) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    width: 33.3333%;
    padding: 0 15px;
    position: relative;
    @include b(mobile) {
      width: 60%;
      margin-bottom: 52px;
    }
    &::before {
      content: counters(item, ".");
      counter-increment: item;
      display: block;
      position: absolute;
      top: 50%;
      left: -20px;
      font-size: 130px;
      line-height: 1;
      font-weight: 800;
      transform: translateY(-50%);
      z-index: -1;
    }

    &:nth-child(1)::before {
      color: rgba(255, 199, 0, 0.15);
    }
    &:nth-child(2)::before {
      color: rgba(246, 136, 47, 0.1);
    }
    &:nth-child(3)::before {
      color: rgba(204, 45, 120, 0.1);
    }
  }

  &__title {
    font-weight: 800;
  }

  &__descr {
  }

}
